.App {
  text-align: center;
}

.main-container{
  width: 402px !important;
  margin-left: auto;
  margin-right: auto;
  height: 465px;
  margin-top: 50px;
}

.main-table{
  width: 100% !important;
  margin-left: auto;
  margin-right: auto;
}

.search{
  float: left; 
  margin: 20px !important;
}

.add-person{
  margin-top: 100px !important;
}

.close{
  float: right;
  margin: 15px !important;
}

tr:hover{
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}

.current{
  margin-top: 100px !important;
}

.list-rows{
  width: 400px !important;
  max-height: 350 !important;
  overflow: auto !important;
}